@keyframes floatUpDown {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .floating-image {
    animation: floatUpDown 3s ease-in-out infinite;
  }
  